body {
  background-color: #feb7c0;
}

.page {
  width: 98%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 1rem;
  background-color: #ffffff;
  padding: 3rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  text-transform: uppercase;
  width: 85%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  background: #ffffff;
  text-align: center;
  color: black;
  font-family: "Bitter", serif;
}

.header--mainText {
  letter-spacing: 0.3rem;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: #7c3f6e;
  font-weight: 500;
}

.header--subText {
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  color: #da98c5;
  padding-bottom: 2rem;
  border-bottom: 3px solid #7c3f6e;
}

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ffffff;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: "Bitter", serif;
}

.input--text {
  font-size: 1.5rem;
  font-weight: 400;
  color: #7c3f6e;
  padding: 0rem;
  margin: 0rem;
}

.input--text--male {
  font-size: 1.52rem;
  font-weight: 700;
  color: #60a4b8;
  margin: 0rem;
}

.input--text--female {
  font-weight: 800;
  font-size: 1.52rem;
  color: #da98c5;
  margin: 0rem;
}

.input--selector--year {
  font-size: 1.5rem;
  color: blue;
  padding: 0rem;
  margin: 0rem;
}

.input--selector--sorting {
  margin: 0rem;
  font-size: 1.5rem;
  color: blue;
  padding: 0rem;
}

.selector {
  color: #4f789e;
  text-align: center;
  font-size: 1.4rem;
  padding: 0rem;
  border: none;
  background-color: #ffffff;
}

.selector > * {
  background-color: #4f789e;
  color: #ffffff;
}

.credits {
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Bitter", serif;
}

.credits--text {
  font-size: 0.75rem;
  color: #7c3f6e;
}
